@import "../../app.scss";

.cardContent {
  display: flex;
  flex-direction: column;
  width: 50%;

  .member-container {
    display: flex;
    flex-direction: column;
    border: solid $background-dark;
    border-radius: 25px;
    background-color: #4e2a203e;
    box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.75);
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #4e2a2056; /* Nouvelle couleur de fond au hover */
    }

    .member-name {
      display: flex;
      width: 90%;
      border-bottom: solid 1px $background-dark;
      align-self: center;
      justify-content: center;
    }
  }
}
