@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");

$background-dark: #4e2a20;
$background-light: #cbbba3;
$green: #229631;
$white-text: #f0ece5;
$title-font: "Comfortaa", cursive;

body {
  margin: 0;
}

.app-page {
  display: flex;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-size: cover;
  // position: absolute;
  background-image: url("../src/assets/cp4background.png");
  align-items: center;
  justify-content: center;
}
