body {
  margin: 0;
}

.app-page {
  display: flex;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-size: cover;
  // position: absolute;
  background-image: url("../src/assets/bannierecoffee.png");
  align-items: center;
  justify-content: center;
}
